<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Teams Clone</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css">

    <script>
        const room_id = '<%= roomId %>';
        // alert(room_id);
    </script>

    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js"
integrity="sha256-2qQheewaqnZlXJ3RJRghVUwD/3fD9HNqxh4C+zvgmF4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js'></script>
<script src='https://cdn.rawgit.com/yahoo/xss-filters/master/dist/xss-filters.js'></script>
    <script type="module" src="index.js" defer></script>
    <!-- <script src="FileSaver.js"></script> -->

    <script>
        $(window).on("load", function () {
            $("#myModal").modal("show");
        });
        // $("form").submit(function (e) {
        //     e.preventDefault();
        //     $('#myModal').modal('hide')
        // });
    </script>

    <script>

		function saveDynamicDataToFile() {

            var userInput = document.getElementById("all_msgs");
           
            var save = userInput.textContent.toString();
            console.log(save);
            var x = document.getElementById("all_msgs").textContent;
            console.log(x);
            var blob = new Blob([save], { type: "text/plain;charset=utf-8" });
            saveAs(blob, "dynamic.txt");
        }

    </script>


</head>

<body>

    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Your Name:</h5>
                <!-- <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <!-- <form action="/" method="POST"> -->
                <div class="modal-body">
                    <!-- <div class="form-row"> -->
                        <input type="text" id="userName" placeholder="Name*" autocomplete="off">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="submitName" style="color: white; background-color:green; border-radius: 10px;align-items: center;">
                        Enter the room
                    </button>
                </div>

            <!-- </form> -->


            </div>
        </div>
    </div>

    <audio src="chat_request.mp3" id="chatAudio"></audio>
    <div class="overlay" id="hideInvitePopup">
        <!-- onclick="hideInvitePopup()" -->
        <div class="invitePop">
            <input type="text" value="..." id="roomLink" readonly>
            <button class="fas fa-clipboard" id="copyToClipboard"></button>
            <!-- onclick="copyToClipboard()" -->
        </div>
    </div>

    <div class="main">
        <div class="left">
            <div class="mainVideos">
                <div id="video-grid"></div>
            </div>
            <div class="Controls">

                <div class="Controls_block">
                    <div class="Controls_button" id="muteButton" title="Mute/Unmute">
                        <i class="fa fa-microphone"></i>
                    </div>
                    <div class="Controls_button" id="playPauseVideo" title="Play/Pause">
                        <i class="fa fa-video"></i>
                    </div>
               
                    <div class="Controls_button" id="chat_btn" title="Chat">
                        <i class="fa fa-comment"></i>
                    </div>
                    <div class="Controls_button" id='show_invite' title="Invite Users">
                        <i class="fa fa-user-plus"></i>
                    </div>
                    
                    <div class="Controls_button" id="share-screen" title="Share screen">
                        <i class="far fa-caret-square-up"></i>
                        <!-- <span>Share Screen</span> -->
                    </div>
                    <div class="Controls_button" id="record" title="Record">
                        <i class="fa fa-dot-circle text-white"></i>
                    </div> 
                    <div class="Controls_button" id="Participants" title="Participants">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="/close">
                        <!-- <div class="Controls_block"> -->

                            <div class="Controls_button leaveMeeting" id="leave-meeting">

                                <i class="fa fa-times text-white"></i>
                                <!-- <span class="">Leave Meeting</span> -->
                            </div>

                        <!-- </div> -->
                    </a>
                </div>
            </div>
        </div>
        <div class="right">

            <div class="header_chat">
                <h5>Chat Window</h5>
            </div>
            <div class="msg_window" id="msg_window">
                <ul class="messages" id="all_msgs"></ul>
            </div>
            <div class="msg_container">
                <input type="text" id="msg" placeholder="Chat here...">
                <button class="sendMsg" id="sendMsg"><i class="fa fa-paper-plane"></i></button>
                <button type="button" onclick="saveDynamicDataToFile();">Click to Save</button>
            </div>
        </div>
    </div>

    <!-- <script src="script.js" defer></script> -->
    <!-- <script src="script.js"></script> -->


<!--  -->
    <div class="custom-modal" id='recording-options-modal'>
        <div class="custom-modal-content">
            <div class="row text-center">
                <div class="col-md-6 mb-2">
                    <span class="record-option" id='record-video'>Record video</span>
                </div>
                <div class="col-md-6 mb-2">
                    <span class="record-option" id='record-screen'>Record screen</span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <button class="btn btn-outline-danger" id='closeModal'>Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="participants" id="participants_div">
        <div id="users_table">
            <table class="table" style="width:500px; color: aliceblue;">
                
                <thead>
                  <tr>
                    
                    <!-- <th scope="col">Id</th> -->
                    <th scope="col">Participants:</th>
                  </tr>
                </thead>
                <tbody id="users_body">
        
                    <tr>
                    
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
        </div>

        <button class="closebtn" id='close_participants'><i class="fa fa-times text-white"></i></button>

    </div>
</body>

</html> 

