@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Segoe UI",system-ui,"Apple Color Emoji","Segoe UI Emoji",sans-serif;
    background-color: rgb(7, 0, 0);
}

#video-grid {
    background-image: url('bg4.jpg');

    /* background-color: rgb(28, 1, 31); */
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

video {
    padding: 0 !important;
    margin: 7px;
    display: block;
    flex: 1;
    object-fit: cover;
    /* border: 5px solid #000; */
    max-width: 600px ; 
    max-height: 400px ;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 25px;
    border-radius: 15px;
    border: 5px solid #3d3d42;
    
}

.main {
    height: 100%;
    display: flex;
}

.mainVideos {
    flex-grow: 1;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Controls {
    align-items: center;
    left: 48%;
    opacity: 0.86;
    justify-content: center;
    display: flex;
    /* background-color: #000; */
    /* box-shadow: rgba(0, 0, 0, 0.35); */
    border-radius: 80%; 

    color: #d2d2d2;
    padding: 5px;
    z-index: 10;
    position: fixed;
    bottom: 88px;

    /* opacity: 0.95;
    align-items: center;
    display: flex;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10;
    color: #d2d2d2;
    padding: 0px; */
    /* justify-content: space-between; */
}

.Controls_block {
    opacity: 0.86;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    position: fixed;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    bottom: 20px; 
}

.Controls_button {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: #000;
    min-width: 80px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    margin: 5px;
}

.Controls_button span {
    margin-top: 10px;
    display: block;
}

.Controls_button:hover {
    background-color: #34383b;
}

.Controls_button i {
    font-size: 25px;
}

.leaveMeeting {
    background-color: rgb(160, 28, 28);
    color: #fff;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right {
    display: none;

}

.showchat .active {
    background-color: #34383b;
}

.showchat .header_chat {
    color: #f5f5f5;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #3d3d42;
}

.showchat .msg_window {
    flex-grow: 1;
    overflow: auto;
    padding: 20px 20px 0 20px;
}

.showchat .msg_container {
    padding: 22px 11px;
    display: flex;
    border-top: 1px solid #3d3d42;
}

.showchat .msg_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    user-select: none;
    outline: none;
}


.showchat #all_msgs li.otherUser {
  
    /* position: relative; */
    width: 75%;
    margin: 2%;
    /* margin-left: 10px;
    margin-right: 10px; */
    background-color: #292929;
    color: #fff;
    list-style: none;
    border: 1px solid #3d3d42;
    border-radius: 10px;
    padding: 14px 10px 0px;
}

.showchat #all_msgs li.Me {
   
    /* position: relative; */
    width: 75%;
    margin: 10px 10px 10px 0px;
    margin-left: 23%;
    /* margin-left: 10px;
    margin-right: 10px; */
    background-color: #323348;
    color: #fff;
    list-style: none;
    border: 1px solid #3d3d42;
    border-radius: 10px;
    padding: 14px 10px 0;
}


.showchat .right {
    flex: 0.35;
    /* display: flex; */
    flex-direction: column;
    background-color: #000000;
    border-left: 0.2px solid #3d3d42;
    border-radius: 10px;
    display: flex;
    /* position: fixed; */
    width: 30%;
    /* height: calc(100% - 65px); */
    height: 100%;
    /* opacity: 0.8; */
}

.showchat .left {
    flex: 1;
}

.overlay {
    display: none;
}

.showInvite .overlay {

    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.showInvite .invitePop {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    background-color: white;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 20px;
    padding: 14px;
}

.showInvite .invitePop input {
    border: 3px solid black;
    margin-right: 3px;
    background-color: #282828;
    color: #696969;
}

.showInvite .invitePop button{
    border: none;
    
}

/* record */

.record-option{
    height: 200px;
    border-radius: 10%;
    border: 1px solid #02191d;
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
}

.record-option:hover{
    color: #282828;
}

.participants{
    display: none;
    position: fixed;
    z-index: 20000;
    border: 1px solid #f4f5f5;
    top: 25%;
    left: 32.5%;
    overflow: auto;
    color: #f4f5f5;
    background-color: rgb(12, 7, 0);
    
    border-radius: 10px;
}


.custom-modal {
   
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.custom-modal-content {
    background-color: #0e0101;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #f4f5f5;
    border-radius: 50px;
    width: 80%;
}

.custom-modal #record-video{
    color: #fff;
    cursor: pointer;
}

.custom-modal #record-screen{
    color: #fff;
    cursor: pointer;
}

.custom-modal #record-video:hover{
    background-color: #34383b;
}
.custom-modal #record-screen:hover{
    background-color: #34383b;
}

.colored{
    color: #323348;
}

#closeModal{
   margin-top: 10px;
}
.closebtn{
    left: 1000px;
    justify-content: center;
    background-color:black;
    align-items: center;
    width: 90px;
    height: 30px;
    font-size: small;
    margin: auto;
    display: flex;
}

.closebtn:hover {
    background-color: #34383b;
}

/* @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} */


/* @media only screen and (max-width:767px){
    .chat-col{
        right: -100vw;
        width: 100vw;
        z-index: 99999;
        transition: 0.3s;
        top: 47px;
    } */
  
    /* .chat-opened::-webkit-scrollbar {
        display: none;
    }

    #chat-messages{
        height: 60vh;
    }

    .chat-box{
        bottom: 90px;
        margin-bottom: 0px;
    }
    
    .card-sm{
        max-width: 100%;
        min-width: 50%;
    }


    .local-video{
        width:40vw;
    }
}


@media (min-width:768px){
    .card{
        width: 50%;
        z-index: 1000;
    }
} */

/*  */



/* video {
    max-width: 100%;
    width: 50% !important;
    max-height: 190px;

}
#video-grid {
    justify-content: flex-start;
    align-items: initial; */
/* } */
/* <button class="btn btn-sm text-white pull-right btn-no-effect" id='toggle-chat-pane'>
                    <i class="fa fa-comment"></i> <span class="badge badge-danger very-small font-weight-lighter" id='new-chat-notification' hidden>New</span>
                </button> */